# Mail Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=tu-email@example.com #El correo desde el que Elia mandara los emails
MAIL_PASSWORD=tu-contraseña-aplicacion #Contraseña que genera gmail (puede que haga falta verificacion en dos pasos de la cuenta)
MAIL_FROM=tu-email@example.com #El correo desde el que Elia mandara los emails
MAIL_FROM_NAME=Gestión de Sustituciones #Nombre que aacompaña al correo que se envia

#Database Connect
DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=my_database
DB_USERNAME=my_username
DB_PASSWORD=my_password